streamlit
fastapi
uvicorn
python-multipart
gunicorn
requests
flask
flask-cors
yfinance
google-generativeai
openai
GoogleNews
duckduckgo-search
praw
python-dotenv
vaderSentiment
pypdf
youtube-transcript-api
pandas
plotly
