fastapi
uvicorn
python-multipart
gunicorn
requests
flask
flask-cors
yfinance
openai
google-generativeai
GoogleNews
duckduckgo-search
praw
python-dotenv
vaderSentiment
pypdf
youtube-transcript-api
pandas
plotly
streamlit
